@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');

body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

.storefont {
    font-family: 'Trade Winds', cursive;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


.swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.gallery-top {
    height: 80%;
    width: 100%;
}

.gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

    .gallery-thumbs .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
    }

    .gallery-thumbs .swiper-slide-thumb-active {
        opacity: 1;
    }


.badges_rows{    
    padding-bottom:10px;
}

.cartbuttonMenu {
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.cartbuttonMenu .fas{
    font-size:30pt;
}

.cartbuttonMenu .badge{

}
