{% extends "app/layout.html" %}

{% block content %}
<link href="../../static/app/content/Catalog.css" rel="stylesheet" />
<h2>Cart</h2>

{% if cartlist %}
<a href="{% url 'Checkout' %}" class="btn btn-success">Proceed to Checkout</a>
<div>
    <div class="card-columns">
    {% for game in cartlist %}

    <div id="cart_game_{{game.id}}" class="card" style="width: 18rem;">
        
  <img src="{{game.product.front_Image}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{game.product.name}}</h5>
    <p class="card-text">{{game.product.description}}</p>      
     
  </div>
        <div class="card-footer">
            <button type="button" class="btn btn-danger" onclick="RemoveCart('{{game.id}}')">Remove From Cart</button>
        </div>
</div>

    {% endfor %}
        </div>
</div>
<script src="../../static/app/scripts/Catalog.js"></script>

{% else %}
<div class="alert alert-info">Empty Cart</div>
{% endif %}

{% endblock %}
