{% extends "app/layout.html" %}

{% block content %}
<link href="../../static/app/content/Catalog.css" rel="stylesheet" />
<div class="jumbotron bannerstyle">
    GameMVP
</div>

<div class="card-columns">
    {% for m in games %}
     
    <div class="card h-100 cardstyle btn_gamecard" data-gameid="{{m.id}}">
      <img src="{{m.front_Image}}" class="card-img-top cardimage" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{m.name}}</h5>
        <p class="card-text">{{m.description}}</p>
      </div>
        <div class="card-footer">
      <small class="text-muted">${{m.price}}</small>
            
          
    </div>

    </div>
  

    {% endfor %} 


</div>
<script src="../../static/app/scripts/Catalog.js"></script>
{% endblock %}
