<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - GameMVP</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    <script src="{% static 'app/scripts/jquery-3.4.1.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/232e77582d.js" crossorigin="anonymous"></script>
   {% url 'home' as home_url %}
    {% url 'MyGames' as MyGames_url %}
    {% url 'Cart' as MyCart_url %}
    {% url 'Report_Bought' as ReportBought_url %}
    {% url 'Report_Chart' as Report_chart_url %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand storefont" href="#">GameMVP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse storefont" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">      

      <li class="nav-item {% if request.get_full_path == home_url %}active{% endif %}">
        <a class="nav-link" href="{% url 'home' %}">Catalog</a>
      </li>

        <li class="nav-item {% if request.get_full_path == MyGames_url %}active{% endif %}">
        <a class="nav-link" href="{% url 'MyGames' %}">MyGames</a>
      </li>

        <li class="nav-item {% if request.get_full_path == MyCart_url %}active{% endif %}">
        <a class="nav-link" href="{% url 'Cart' %}">MyCart</a>
      </li>

        {% if user.is_authenticated and user.is_staff  %}
        <li class="nav-item {% if request.get_full_path == ReportBought_url %}active{% endif %}">
            <a class="nav-link" href="{% url 'Report_Bought'%}">Report Games Bought</a>
        </li>
        {% endif %}

        {% if user.is_authenticated and user.is_staff  %}
        <li class="nav-item {% if request.get_full_path == Report_chart_url %}active{% endif %}">
            <a class="nav-link" href="{% url 'Report_Chart'%}">Report Games Chart</a>
        </li>
        {% endif %}
        

      
      
    </ul>
    
      {% include 'app/loginpartial.html' %}
  </div>

</nav>
    <!--
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Application name</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
                
            </div>
        </div>
    </div>
        -->

    <div class="container body-content">
{% block content %}{% endblock %}
        <hr/>
        <footer>
            <p>&copy; {{ year }} - GameMVP</p>
        </footer>
    </div>

    
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>
